{% extends 'home.html' %}

{% block horizontal_nav %}
<ul class="nav">
   <li><a href="/contact">ליצור קשר</a></li>
   <li class="active"><a href="/about">עלינו</a></li>
   <li><a href="/products">מוצרים</a></li>
   <li><a href="/">בית</a></li>
</ul>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/">בית</a></li>
    <li class="active">עלינו</li>
    </ul>
{% endblock %}

{% block main %}

<h1 class="text-center">קצת עלינו</h1>

<div class="row-fluid">

	<div class="span12 text-right hero-unit">

		<p>חברת לונטק הינה חברה פרטית העוסקת ביבוא ושיווק מוצרים לתעשיית השינוע.</p>
		<p>לחברה שיתופי פעולה עם חברות מובילות בתחום כגון :</p>
		<p>-   חברת " Norditec " מגרמניה, המתמחה ביצור ציפויים מיוחדים לחגורות בכלל ולחגורות תזמון בפרט.</p>
		<p>חגורות התזמון משמשות לשינוע מדויק ומצופות במגוון רחב של ציפויים מחומרים שונים ופבריקציות על גבי החגורה.</p>
		<p>החברה יכולה להתאים ללקוח את הפתרון האולטימטיבי לאפליקציות המופעלות באתר.</p>
		<p>החברה מתמחה במתן פתרונות לתעשיית המזון ומציעה ציפויים מחומרים מאושרי מזון על פי התקנים האמריקאים (FDA) והאירופים (1935/2004).</p>
		<p>כמו כן, חברת לונטק מציעה חגורות תזמון הומוגניות חדשניות, מhome חברת  "Norditec ", המיוצרות ממקשה אחת (חגורת תזמון וציפויים) וללא צורך ב"חריצי קירור בין השיניים" עובדה המאפשרת עבודה עם החגורה בתוך מים או באזורים רטובים- מתאימה במיוחד למפעלי מזון ומאושרת FDA  .</p>
		<p>-  חברת "  Van der Graaf " מהולנד, חברה מהמובילות בעולם ביצור "  Drum - motor"(מנוע תוף), הבנוי כמנוע בתוך הציר המוביל של המסוע, ללא צורך במנוע, גיר, גלגלי שיניים ורצועות הנעה חיצוניים .</p>
		<p>ה Drum – motor של חברת  "Van der Graaf " אטום למים  ועומד בסטנדרטים מחמירים של תקן </p>
		<p>המנוע מיוצר בדגמים רבים עם זרם, הספק, מומנט, מהירות ומידות שונות, המתאימים לכל מסוע בתעשייה.</p>
		<p>כמו כן, ה- Drum – motor  חוסך מקום בסביבת המסוע מכיוון שאין צורך במנוע חיצוני.</p>
		<p>ניתן לשלב על ה Drum – motor  גלגלי שיניים ממתכת או מפלסטיק המותאמים לחגורות השינוע השונות.</p>
		<p>לחברת לונטק שיתופי פעולה נוספים עם חברות בתחום השינוע בארץ ובעולם.</p>
		<p>חברת לונטק משווקת את מוצריה למגוון לקוחות בתעשיות כגון:</p>
		<ul style="list-style-type:none">
			<li>יצרני מכונות לתעשייה.</li>
			<li>מפעלי מזון.</li>
			<li>מפעלי אריזה.</li>
			<li>מפעלי מתכות.</li>
			<li>תעשיית הרובוטיקה.</li>
			<li>מפעלי היי-טק.</li>
			<li>חברות הנזקקות לשינוע  מדויק.</li>
		</ul>
	</div>
</div>

{% endblock %}
