{% extends 'index.html' %}

{% block horizontal_nav %}
<ul class="nav">
   <li><a href="/contact">ליצור קשר</a></li>
   <li><a href="/about">עלינו</a></li>
   <li class="active"><a href="/products">מוצרים</a></li>
   <li><a href="/">בית</a></li>
</ul>
{% endblock %}

{% block vertical_nav %}

	<div class="span2">
      <div class="well sidebar-nav">
	      <ul id="root-nav" class="nav nav-list">
   	      <li class="nav-header">Navigation</li>
            <li><a href="/products"><i class="icon-shopping-cart"></i>מוצרים</a>
					<ul class="nav nav-list">
						{% for c in categories %}
							<li {% if c == category %} class="active" {% endif %}><a href="/products/{{c.id}}">{{c}}</a>
								{% if c == category %}
									<ul class="nav nav-list">
									{% for sub in category.subcategories.all %}
										<li><a href="/products/{{c.id}}/{{sub.id}}">{{sub}}</a></li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
							
						{% endfor %}
					</ul>
				</li>

         </ul>
      </div><!--/.well -->
   </div><!--/span-->

{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/">בית</a></li>
    <li><span class="divider">/</span><a href="/products">מוצרים</a></li>
    <li class="active">{{category}}</li>
    </ul>
{% endblock %}


{% block main %}

<div class="span10">

  <div class="row-fluid">
	
	<h1 class="pull-right">{{category}}</h1>
	</div>

	  <div class="row-fluid">

      <ul class="thumbnails">
      {% for subcategory in category.subcategories.all %}


         <li class="span3">
            <a href="/products/{{category.id}}/{{subcategory.id}}/" class="thumbnail">
               <img src="{{MEDIA_URL}}{{subcategory.image}}">
               <h3>{{subcategory}}</h3>
            </a>

         </li>

      {% endfor %}
      </ul>

			
	</div>
</div>


{% endblock %}
