{% extends 'home.html' %}

{% block horizontal_nav %}
<ul class="nav">
   <li class="active"><a href="/contact">ליצור קשר</a></li>
   <li><a href="/about">עלינו</a></li>
   <li><a href="/products">מוצרים</a></li>
   <li><a href="/">בית</a></li>
</ul>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/">בית</a></li>
    <li class="active">ליצור קשר</li>
    </ul>
{% endblock %}


{% block main %}
<h1 class="text-center">ליצור קשר</h1>

<br />

<div class="row-fluid">

	<form data-bind="submit: submit" class="contact_form">
		<fieldset class="text-center">
			{% for field in form %}
				<div style="position:relative;">
					<label>{{field.label}}</label>
					{{field}}
					<span data-bind="text:{{field.name}}.errors, visible: {{field.name}}.errors" class='alert alert-error' style="position:absolute;"></span>
				</div>
			{% endfor %}
			<br />
		<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
</div>

{% endblock %}


{% block tail %}
<script type="text/javascript">
      function contactPageViewModel(){
         var self = this;

            self.first_name = ko.observable();
            self.first_name.errors = ko.observable();

            self.last_name = ko.observable();
            self.last_name.errors = ko.observable();

            self.email = ko.observable();
            self.email.errors = ko.observable();

            self.message = ko.observable();
            self.message.errors = ko.observable();

            self.product = ko.observable();
            self.product.errors = ko.observable();

            self.phone = ko.observable();
            self.phone.errors = ko.observable();

            self.handleErrors = function(errors){
               $.each(ko.toJS(self),function(field,value){ 
                  if(self[field].hasOwnProperty('errors')){ 
                     self[field].errors(false);
                  }
               });
               $.map(errors,function(error){
                  self[error.field].errors(error.value);
               });
                     
            };

            self.submit = function(){
               var data = $.parseJSON(ko.toJSON(self));
               console.log(data);
               $.ajax({
                  url: "{% url 'ajax_contact' %}",
                  type : "POST",
                  data : data,
                  success : function(data){
                     console.log(data);
                     if(!(data.success)){
                        self.handleErrors(data.errors);
                     }
                     else{
                        $('.contact_form').html('<h3 class="alert alert-success text-center">.יש לך הודעה נשלח בהצלחה לנו .אנחנו נהיה איתך קשר בקרוב </h3>');
                     }
                  }
               });
            };


      }


      ko.applyBindings(new contactPageViewModel(),$(".contact_form")[0]);


</script>
{% endblock %}
